<%= form_with model: question, local: true do |form| %>

  <section>
    <div>
      <%= form.hidden_field :listing_id, value: params[:listing_id] %>
    </div> 
    <div>
        <%= form.label :subject %>
        <%= form.text_field :subject %>
    </div>
    <div>
        <%= form.label :body %>
        <%= form.text_field :body %>
    </div>
    <br>

    <div class="submit-button">
        <%= form.submit %>
    </div>
  </section>
<% end %>