<%= form_with model: question, url: create_question_path(question.listing_id), local: true do |form| %>
  <section>
     <% if question.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% question.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div><br>
      <% end %>
    <div>
        <%= form.label :subject %>
        <%= form.text_field :subject %>
    </div>
    <div>
        <%= form.label :body %>
        <%= form.text_field :body %>
    </div>
    <br>

    <div class="submit-button">
        <%= form.submit %>
    </div>
  </section>
<% end %>