<div class="container">
  <%= render '/pages/nav' %>

  <div class="hero-container">
    <div class="hero-box">

       <p>test</p>
    
        </div>
      <div class="hero-box-two">
          <br>
      <h2>Sign up</h2><br>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div><br>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div><br>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div><br>

        <div>
          <%= f.label 'What type of user would you like to sign up as?' %> <br>
          <%= f.label :is_seller, "Seller", :value => true %>
          <%= f.radio_button :is_seller, true %>
          <%= f.label :is_seller, "Buyer", :value => false %>
          <%= f.radio_button :is_seller, false, required: 'required' %>
        </div><br>

        <!-- The beginning of my nested table user_detail -->

        <%= f.fields_for :user_detail, UserDetail.new do |ff| %>
         <div>
            <%= ff.label :first_name %>
            <%= ff.text_field :first_name, :required => true, :placeholder => "Eg. Bruce" %>
        </div>
        <div>
            <%= ff.label :lastname %>
            <%= ff.text_field :lastname, :required => true, :placeholder => "Eg. Wayne" %>
        </div>
        <div>
            <%= ff.label :contact_number %>
            <%= ff.number_field :contact_number, :required => true, :placeholder => "Eg. 0412 345 678" %>
        </div>
        <div>
            <%= ff.label :address_line_1 %>
            <%= ff.text_field :address_line_1, :required => true, :placeholder => "Eg. Unit 1" %>
        </div>
         <div>
            <%= ff.label :address_line_2 %>
            <%= ff.text_field :address_line_2, :placeholder => "Optionable field" %>
        </div>
        <div>
            <%= ff.label :suburb %>
            <%= ff.text_field :suburb, :required => true, :placeholder => "Eg. Yarraville" %>
        </div>
        <div>
            <%= ff.label :state_id %>
            <%= ff.select :state_id, options_for_select( State.all.collect {|u| [u.name, u.id]}) %>
        </div>
        <div>
            <%= ff.label :postcode %>
            <%= ff.text_field :postcode, :required => true, :placeholder => "Eg. 1234" %>
        </div>
        <br>
        <% end %>
          
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
        <% end %>
        <br>
      </div>
    </div>
 <%= render '/pages/footer' %>