<%= form_with model: listing, local: true do |form| %>
<section> <br>
        <% if listing.errors.any? %>
            <div id="error_explanation">
                <ul>
                    <% listing.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div><br>
        <% end %>
         <div>
            <%= form.label :type_id %>
            <%= form.select :type_id, options_for_select( Type.all.collect { |u| [u.name, u.id] }, :selected => listing.type_id ) %>
        </div> <br>
        <div>
            <%= form.label :mineral_name %>
            <%= form.text_field :mineral_name, :autofocus => true, :required => true, :placeholder => "Enter Title here"%>
        </div>
        <div>
            <%= form.label :description %>
            <%= form.text_field :description, :required => true, :placeholder => "Item Description" %>
        </div>
         <div>
            <%= form.label :location %>
            <%= form.text_field :location, :required => true, :placeholder => "Where mineral originated from" %>
        </div>
        <div>
            <%= form.label :price %>
            <%= form.number_field :price, min: 0, :required => true, :placeholder => "Price" %>
        </div>
        <div>
            <%= form.label :picture %>
            <%= form.file_field :picture, accept: 'image/png, image/gif, image/jpeg, image/jpg'  %>
        </div>

        <div class="submit-button">
            <%= form.submit %>
        </div>
    <% end %>
</section>