<div class="container">
  <%= render '/pages/nav' %>

   <%= link_to 'Create New Listing', new_listing_path %>

   <!-- (:user_id, :type_id :mineral_name, :description, :location, :price, :image) -->

  <table>
      <thead>
        <tr>
          <th>Id:</th>
          <th>Type:</th>
          <th>Mineral::</th>
          <th>Description:</th>
          <th>Location:</th>
          <th>Price:</th>
          <th>Image:</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.id %></td>
            <td><%= listing.user_id%>
            <td><%= listing.type.name %></td>
            <td><%= listing.mineral_name %></td>
            <td><%= listing.description %></td>
            <td><%= listing.location %></td>
            <td><%= listing.price %></td>
            <td><%= listing.image %></td>
            <td><%= link_to 'Edit', edit_listing_path(listing) if current_user.id == listing.user_id %></td>
            <td><%= link_to 'Show', listing_path(listing) %></td>
            <td><%= link_to 'Destroy', listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } if current_user.id == listing.user_id%></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>

  <%= render '/pages/footer' %>

</div>