<div class="container">
  <%= render '/pages/nav' %>

  <div class="hero-container">
    <div class="hero-box-show"><br>
      <p>
        <%= image_tag @listing.picture if @listing.picture.attached? %>
      </p>
      <strong>Mineral:</strong> <%= @listing.type.name %><br>
      <strong>Description:</strong> <%= @listing.description %><br>
      <strong>Location:</strong> <%= @listing.location %><br>
      <strong>Price:</strong> <%= @listing.price %><br><br>

      <div class="q-box">
        <%= link_to 'Ask a question', new_question_path(@listing) %> <br>

          <% @listing.questions.each do |question| %>
            <br><strong>Subject: <%= question.subject %></strong> <br><br>
            Question:<%= question.body %><br><br>
            <%= link_to 'Answer', new_answer_path(question) %><br>
              <% question.answers.each do |answer| %>
               Answer: <%= answer.body %><br>
             <% end %>
          <% end %> 
         
      </div>
    </div>
           
  </div>
  <%= render '/pages/footer' %>
</div>