<div class="container">
  <%= render '/pages/nav' %>

  <div class="hero-container">
    <div class="hero-box-show"><br>
      <p>
        <%= image_tag @listing.picture if @listing.picture.attached? %>
      </p>

      <strong>Mineral:</strong> <%= @listing.type.name %><br>
      <strong>Description:</strong> <%= @listing.description %><br>
      <strong>Location:</strong> <%= @listing.location %><br>
      <strong>Price:</strong> <%= @listing.price %><br><br>


      <%= link_to 'Ask a question', new_question_path(@listing) %> <br>
      <table class="qa">
        <thead>
          <tr>
            <th class="qa">Subject:</th>
            <th class="qa">Question:</th>
            <th class="qa">Answer:</th>

            <th class="qa" colspan="15"></th>
          </tr>
        </thead>
        <tbody>
          <% @listing.questions.each do |question| %>
          <tr>
            <td class="qa"><%= question.subject %></td>
              <td class="qa"><%= question.body %></td>

            <% question.answers.each do |answer| %>
              <td class="qa"><%= answer.body %><br>
            <% end %>
               <% if current_user == @listing.user %>
              <td class="qa"><%= link_to 'Answer', new_answer_path(question) %></td>
              <td class="qa"><%= link_to 'Edit', edit_listing_path(@listing) %></td>
              <td class="qa"><%= link_to 'Destroy', question_path(@listing), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
              <% end %>
            <% end %>
            </tbody>
              </table>
        </div>
      </div>
   <%= render '/pages/footer' %>
   </div>
</div>