<div class="nav-c">
  <nav>
    <ul>
      <li><% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Login', new_user_session_path %>
          <% end %></li>
      <li><% if user_signed_in? %>
            <%= link_to 'Profile', user_details_path %>
              <% else %>
                <%= link_to 'Profile', new_user_session_path %></li>
            <% end %>
      <li><%= link_to 'Homepage', root_path %></li>
      <li><%= link_to 'Listings', listings_path %></li>
      <li>Contact</li>
    </ul>
  </nav>
</div>
