<%= form_with model: user_detail, local: true do |form| %>

<section>
         <div>
            <%= form.label :phone %>
            <%= form.number_field :phone %>
        </div>
        <div>
            <%= form.label :name %>
            <%= form.text_field :name %>
        </div>
        <div>
            <%= form.label :address %>
            <%= form.text_field :address %>
        </div>

        <div class="submit-button">
            <%= form.submit %>
        </div>
    <% end %>
</section>