<div class="container">
  <%= render '/pages/nav' %>

  <div class="hero-container">
    <div class="hero-box">
       <br><p>
        Email Address: <%= current_user.email %> <br>
        Account Type: <% if current_user.is_seller == true %>
                            <%= "Seller" %>
                              <% else %>
                                <%= "Buyer"  %>
                            <% end %>
        </p> <br>
    <%= render 'form', user_detail: @user_detail %>
    </div>
  </div>
</div>